<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Datos del Sheet</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
  <h1>Cargar país del Sheet</h1>

  <select id="pais" name="pais">
    <option value="">Seleccione un país</option>
    <option value="argentina">Argentina</option>
    <option value="canada">Canadá</option>
    <option value="francia">Francia</option>
    <option value="italia">Italia</option>
    <option value="estados_unidos">Estados Unidos</option>
    <option value="alemania">Alemania</option>
    <option value="barcelona">barcelona</option>
    <option value="perugia">perugia</option>
    <option value="poznan">poznan</option>
  </select>

  <br><br>

  <button id="btn-cargar-sheet">📥 Cargar datos del Sheet</button>
  <button id="btn-scrapear">🔍 Ejecutar scraping Apify</button>

  <div id="resultado" style="margin-top: 20px;"></div>

  <script src="{{ url_for('static', filename='scrape_amazon.js') }}"></script>
  <script src="{{ url_for('static', filename='resultado_carga.js') }}"></script>

</body>
</html>
