<!-- chats/chatIdentidades.html -->

<div class="id-card">
  <h4></h4>

  <div class="amb-panel-header">
    <div class="amb-search" style="flex:1">
      <span>🔎</span>
      <input
        id="idSearch"
        placeholder="Buscar por ámbito, @alias o teléfono +E.164…  Ej: +54938385478 o @DrPeralta"
      >
    </div>
    <button id="sendBtn" type="button" class="btn">Enviar</button>
  </div>

  <!-- Panel búsqueda (si corresponde va acá, arriba de la lista) -->
  {% include 'chats/busquedas/busquedaAmbito.html' %}

  <!-- LISTA SCROLLEABLE -->
  <div class="id-accordion">

   

  </div>


</div>
