<!-- chatDominio.html -->
<div id="myDomainView" class="my-domain-view" data-view="left">
  <section class="my-domain-left" id="myDomainLeft">
    <div class="md-head">
      <h4>Mis ámbitos</h4>
      <p>Categorías donde yo publico</p>
    </div>

    <!-- 🔎 Buscador selectivo NUEVO -->
    <div class="md-filters">
      {% include 'chats/busquedas/busquedaSelectiva.html' %}
    </div>

    <!-- (opcional) Dejá el viejo si querés tabs legacy debajo -->
    {# {% include 'chats/busquedas/busquedaAmbito.html' %} #}

    <div class="md-list" id="mdList"></div>
  </section>

  {% include 'chats/mydomain/panelDerechoMicrositio.html' %}
</div>

<div class="amb-footer">
  <div class="foot-left"><span class="hint">Elegí un micrositio</span></div>
  <div class="foot-right"></div>
</div>
