<div id="myDomainView" class="my-domain-view" data-view="left">
  <!-- panel izq -->
  <section class="my-domain-left" id="myDomainLeft">
    <!-- 1. encabezado propio -->
    <div class="md-head">
      <h4>Mis ámbitos</h4>
      <p>Categorías donde yo publico</p>
    </div>
  
    <!-- 3. tabs reutilizados -->
    <div class="md-filters">
      {% include 'chats/busquedas/busquedaAmbito.html' %}
    </div>

  
    <div class="md-list" id="mdList">
      <details class="amb-item" data-ambito="salud">
        <summary class="amb-summary">
          <span class="amb-name">🩺 Salud</span>
          <span class="amb-badge">3 categorías</span>
        </summary>
        <ul class="md-cat-list">
          <li><button class="md-cat" data-ambito="salud" data-categoria="medicos">Médicos</button></li>
          <li><button class="md-cat" data-ambito="salud" data-categoria="equipos">Equipos</button></li>
        </ul>
      </details>
      
    </div>










  </div>




  </section>




   {% include 'chats/mydomain/panelDerechoMicrositio.html' %}
  
</div>

<!-- FOOTER fijo -->
<div class="amb-footer">
  <div class="foot-left"><span class="hint">Elegí un micrositio </span></div>
  <div class="foot-right"></div>
</div>
