# Core
flask
sqlalchemy
flask_sqlalchemy
flask-marshmallow
marshmallow-sqlalchemy
google-auth
google-api-core==2.11.0
google-api-python-client==2.81.0
google-auth==2.16.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-api-core==2.11.0
google-api-python-client==2.81.0
googleapis-common-protos==1.58.0
gspread==5.7.2
pandas
# ⚠️ Deprecado, pero si tu código lo usa aún:
oauth2client==4.1.3
oauthlib==2.1.0
PyDrive==1.3.1
pymysql
selenium==4.21.0
unidecode
webdriver_manager
flask-cors==4.0.1
flask-login


# Archivos y permisos
PyDrive==1.3.1
